/*Universal Selector*/
* {
  padding: 10px;
  margin: 1px;
  background-color: #fcf7f7;
  font-family: Montserrat, serif;
  color: #3c3d3a;
}

/*inheriting box sizing*/
html {
  box-sizing: border-box;
}

head {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 300%;
}

h2 {
  width: 100%;
  text-align: center;
  font-size: 200%;
  padding: 3%;
}

p {
  text-align: center;
  width: 100%;
  background-color: white;
}

.work {
  display: flex;
}

#prework-study-guide {
  flex: 1 0 550px;
}

#project {
  flex: 1 0 550px;
}

.content {
  padding: 1em;
  border-style: solid;
  border-color: grey;
  border-radius: 1em;
  background-color: white;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Make the images invisible by default */
.Containers {
  display: block;
  border-style: solid;
  border-radius: 1em;
  border-width: 2px;
  background-color: white;
}

.Containers img {
  margin-left: 25%;
  width: 50%;
}

.Containers p {
  width: 100%;
  text-align: center;
  padding: 2%;
  background-color: white;
}

/* forward & Back buttons */
.Back,
.forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 7px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
  background-color: white;
  border-style: solid;
}

.forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 7px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
  background-color: white;
  border-style: solid;
}

/* Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover,
.forward:hover {
  background-color: white;
}

/* Caption Info */
.Info {
  font-size: 16px;
  padding: 10px 14px;
  /* position: absolute;
  bottom: 10px; */
  width: 100%;
  text-align: center;
  background-color: white;
}

/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable,
.dots:hover {
  background-color: #717161;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {
    opacity: .5
  }

  to {
    opacity: 2
  }
}

@keyframes fade {
  from {
    opacity: .5
  }

  to {
    opacity: 2
  }
}

/*Profile image*/
.wrapper {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

figure>img {
  max-height: 475px;
  max-width: 475px;
  border-radius: 50%;
 margin-right: 5%;
}

/*nav tags in header*/
a {
  font-size: 22px;
  justify-content: left;
  padding: 10px;
}

. about-me {
  height: 300px;
}

/*Work images*/
img {
  max-height: 90%;
  max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 5%;
}

/*Contact Me form styling start*/
form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* Form outline */
  padding: 1em;
  border-style: solid;
  border-color: grey;
  border-radius: 1em;
  background-color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: white;
}

form li+li {
  margin-top: 1em;
  background-color: white;
}

form li {
  background-color: white;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 80px;
  text-align: left;
  background-color: white;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em montserrat;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;
  border-radius: 1em;
  padding: 1em;
  border-style: solid;
  border-color: grey;
  border-radius: 1em;

  /* Match form field borders */
  border-radius: 1em;
  border-color: grey;
  border-style: solid;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-radius: 1em;
  border-color: grey;
  border-style: solid;
}

textarea {
  border-radius: 1em;
  border-color: grey;
  border-style: solid;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;

}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px;
  /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: 0.5em;
  border-radius: 1em;
  border-color: grey;
  border-style: solid;
}

/*Contact Me form styling end*/

/*bottom icon bar*/
.icon-bar {
  width: 50%;
  /* Full-width */
  background-color: #fcf7f7;
  ;
  /* white background */
  overflow: auto;
  /* Overflow due to float */
  text-align: center;
  margin-left: 25%;
}

.icon-bar a {
  float: center;
  /* Float links side by side */
  text-align: center;
  /* Center-align text */
  width: 16%;
  /* Equal width (5 icons with 20% width each = 100%) */
  padding: 0;
  /* Some top and bottom padding */
  transition: all 0.3s ease;
  /* Add transition for hover effects */
  color: #3c3d3a;
  /* text color */
  font-size: 36px;
  /* Increased font size */
}

.icon-bar a:hover {
  background-color: #eddada;
  /* Add a hover color */
}