header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #354a6c;
    color: #a8d8e2;
  }

  h1 {
    font-size: 200%; 
  }

  /* referenced https://alvarotrigo.com/blog/css-highlight-text/#:~:text=How%20Do%20I%20Highlight%20Text,ways%20to%20create%20different%20looks. for support */
  .highlight {
    display: inline;
    padding: .7em 0;
    background: #a8d8e2;
    color: #354a6c;
    box-shadow: .5em 0 0 #a8d8e2, -.5em 0 0 #a8d8e2;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    text-underline-position: under;
    color: #354a6c;
  }