body {
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    background-color: #222c3b;
    color: #848781;
  }

  h1 {
    font-size: 200%; 
  }

  /* referenced https://alvarotrigo.com/blog/css-highlight-text/#:~:text=How%20Do%20I%20Highlight%20Text,ways%20to%20create%20different%20looks. for support
  .highlight {
    display: inline;
    justify-items: start;
    padding: .79em 0;
    background: #848781;
    color: #222c3b;
    box-shadow: .4em 0 0 #848781, -.5em 0 0 #848781;
  } */

  nav a {
    color: #848781;
    font-size: 22px;
    justify-content: right;
    padding: 10px;
  }
 
  aside {
    color: #222c3b;
    text-align: right;
    font-size: 200%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 87px;
  }
